body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}
h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 4vh auto;
}
#grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 2rem auto;
    width: max-content;
    height: max-content;
    outline: 0.616rem solid #3498DB;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    outline: 0.313rem solid #3498DB;
    font-size: 2.5rem;
}
#reset, #gameText {
    display: flex;
    justify-content: center;
}
button {
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    margin: 2rem auto;
    outline: 0.313rem solid #3498DB;
}
#currentText {
    font-size: 1.5rem;
}