@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1 {
    background-color: #313b4d;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
}
#grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 2rem auto;
    width: max-content;
    height: max-content;
    outline: 0.616rem solid #63b8ff;
}
.box, #reset, #gameText {
    display: flex;
    justify-content: center;
}
.box {
    align-items: center;
    background-color: #313b4d;
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    outline: 0.313rem solid #63b8ff;
    font-size: 2.5rem;
}
button {
    background-color: #313b4d;
    color: #ffffff;
    font-size: 1rem;
    margin: 3rem auto 1rem auto;
    outline: 0.313rem solid #63b8ff;
}
button:hover {
    background-color:#777a92;
    outline: 0.313rem solid #99ccff;
}
#currentText {
    font-size: 1.5rem;
}